################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CampusCom/FileContentIndex
/CampusCom/.vs
/CampusCom/CampusCom.csproj.user
/.vs/CampusCom/v17/.suo
