@{
    ViewBag.Title = "Dashboard";

    ViewBag.Header = "Campus Com Dashboard";
    ViewBag.Subheader = "Welcome to Campus Com!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="actual-top">
    <h1>Explore Our App</h1>
    <p><small>Here's a list of all our communities, join or view at your own descretion.</small></p>
</div>

<section class="home-card-sec">

    <div class="com-indx-card">
        <div class="com-card-img">

        </div>
        <H3 class="com-card-txt">
            Judo Lions
        </H3>
        <div class="com-card-links">
            <a href="#">Join</a> | <a href="#">View</a>
        </div>
    </div>

    <div class="com-indx-card">
        <div class="com-card-img">

        </div>
        <H3 class="com-card-txt">
            Judo Lions
        </H3>
        <div class="com-card-links">
            <a href="#">Join</a> | <a href="#">View</a>
        </div>
    </div>

    <div class="com-indx-card">
        <div class="com-card-img">

        </div>
        <H3 class="com-card-txt">
            Judo Lions
        </H3>
        <div class="com-card-links">
            <a href="#">Join</a> | <a href="#">View</a>
        </div>
    </div>

    <div class="com-indx-card">
        <div class="com-card-img">

        </div>
        <H3 class="com-card-txt">
            Judo Lions
        </H3>
        <div class="com-card-links">
            <a href="#">Join</a> | <a href="#">View</a>
        </div>
    </div>

    <div class="com-indx-card">
        <div class="com-card-img">

        </div>
        <H3 class="com-card-txt">
            Judo Lions
        </H3>
        <div class="com-card-links">
            <a href="#">Join</a> | <a href="#">View</a>
        </div>
    </div>

    <div class="com-indx-card">
        <div class="com-card-img">

        </div>
        <H3 class="com-card-txt">
            Judo Lions
        </H3>
        <div class="com-card-links">
            <a href="#">Join</a> | <a href="#">View</a>
        </div>
    </div>

    <div class="com-indx-card">
        <div class="com-card-img">

        </div>
        <H3 class="com-card-txt">
            Judo Lions
        </H3>
        <div class="com-card-links">
            <a href="#">Join</a> | <a href="#">View</a>
        </div>
    </div>

    <div class="com-indx-card">
        <div class="com-card-img">

        </div>
        <H3 class="com-card-txt">
            Judo Lions
        </H3>
        <div class="com-card-links">
            <a href="#">Join</a> | <a href="#">View</a>
        </div>
    </div>
</section>
