@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

:root {
    --dark-blue: #06013d;
    --dark: #353535;
    --dark-grey: #9e9e9e;
    --grey: #dbd9d9;
    --yellow: #f9f206;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
}

img {
    display: block;
    width: 100%;
    object-fit: cover !important;
}

body {
    font-family: 'Barlow', sans-serif;
}

#app{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.logo {
    font-family: 'Baloo Thambi 2', cursive;
    color: var(--yellow);
    font-size: 2rem;
}

#left{
    color: #fff;
    background: var(--dark-blue);
    min-height: 100vh;
    display: grid;
    /*align-items: center;*/
    position: relative;
}

.AdminDisplay {
    text-align: center !important;
    padding: 1.5rem;
    background: white !important;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

#left div{
    padding: 1rem 2.5rem;
}

#left ul li a {
    display: flex;
    align-items: center;
    padding: 0.7rem 0.5rem;
    margin-bottom: 0.2rem;
    color: #fff;
    border-radius: 8px;
}

#left ul li a:hover {
    background: var(--grey);
    color: var(--dark-blue);
}

#left ul li a span{
    margin-left: 1rem;
}


.btn {
    padding: 1rem !important;
    background: #f3ecec;
    border-radius: 8px;
    color: var(--dark-blue) !important;
    text-align: center;
}

.li-btn {
    display: grid;
    justify-content: center;
}

#yel-btn{
    background: var(--yellow);
}

#logout-btn {
    background: var(--dark-blue);
}

#logout-btn a {
    color: #fff !important;
}

.search-bar {
    padding: 1rem;
    background: var(--grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bar {
    padding: 1rem 2rem;
    background: var(--dark-grey);
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    text-align: center !important;
    color: var(--dark-blue) !important;
}

.sub-text {
    text-align: center !important;
}

.copyright-txt{
    text-align: center;
    color: var(--yellow);
}

#app-content{
    padding: 2rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.actual-content{
    background: var(--grey);
    padding: 1rem;
    border-radius: 8px;
}

.com-table{
    background: #fff;
}

.com-table td, .com-table th {
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.com-create-form{
    padding: 1.5rem;
    background: var(--dark-blue);
    color: #fff;
}

.com-create-form h4{
    text-align: center;
    margin-bottom: 0.5rem;
}

.com-create-form .form-group {
    display: flex;
}

.com-create-form input{
    margin-left: 2rem;
    padding: 0.5rem;
    border-radius: 2px;
    margin-bottom: 0.5rem;
    background: #f4f1f1;
}

.create-com-btn{
    justify-content: center;
}

.create-com-btn input{
    background: lightblue;
}

.create-com-btn input:hover {
    background: var(--grey);
}

#right {
    background: var(--dark);
}


.profile-name-div{
    display: flex;
    align-items: center;
}

.img-search-cont{
    max-height: 20px;
}

.search-prof-img{
    margin-left: 0.5rem;
}

.search-input {
    padding: 0.5rem;
    /*border-radius: 8px;*/
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.search-btn {
    width: 30px;
    height: 30px;
    color: #fff;
    background: var(--dark-blue);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.search-btn:hover {
    background: var(--dark-grey);
}

.search-div form {
        display: flex;
        align-items: center;
}

/*.top-username{
    font-weight: 400 !important;
}*/

/* #################### HOME PAGE #################### */
.home-card-sec{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.com-indx-card {
    padding: 2rem;
    background: lightblue;
    border-radius: 5px;
}

.com-indx-card{
    display: grid;
    justify-items: center;
}

.com-card-img
{
    width: 70px;
    height: 70px;
    background: var(--dark-blue);
    border-radius: 50%;
    margin-bottom: 0.5rem;
    display: grid;
    justify-items: center;
    align-content: center;
    color: #fff; 
}

.fw-index-icon{
   font-size: 2.5rem;
}
/* #################### ADMIN #################### */
.admin-main-app {
    background: var(--dark-grey);
}
#admin-prof-img-div {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

#admin-prof-img-div img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#profile-div{
    width: 100%;
    text-align: center;
}

#admin-top{
    padding: 2rem;
    background: var(--grey);
    min-height: 20vh;
    display: grid;
    align-content: center;
}

.admin-card-div {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.admin-card {
    padding: 2rem;
    border-radius: 10px;
    background: var(--dark-blue);
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
}

.admin-card:hover {
    background: var(--dark-grey);
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.2);
}

.admin-time-div{
    margin-top: 1.5rem;
}

#admin-content{
    padding: 2rem;
}


/* #################### COMMUNITY #################### */

.control-label {
    width: 300%;
    text-align: right;
    padding-left: 2em;
}

.table {
    background: #fff;
    border-collapse: collapse;
    margin-top: 0.5rem;
}
.table th {
    background: var(--dark-blue);
    padding: 1rem;
    color: #ebe7e7;
}

.table td {
    padding: 1rem;
    border-bottom: 1px solid grey;
}

.form-group{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.form-control{
    border-radius: 3px;
    padding: 0.5rem;
}

.com-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}

.com-nav a {
    color: black;
    margin-right: 2rem;
}

.active-com-nav {
    color: var(--grey) !important;
    font-weight: 600;
    border-bottom: 1px solid var(--grey);
}

.input-cont {
    border-radius: 3px;
    padding: 0.5rem;
    width: 100%;
    margin-top: 0.5rem;
}

.sub-btn{
    background: #000;
    color: #fff;
    padding: 1rem;
    border-radius: 20px;
}

.sub-btn:hover {
    background: #9e9e9e;
    color: #fff;
}

.actual-top{
    padding: 1rem;
    text-align: center;
}

.actual-top h1 {
    color: var(--dark-blue);
}

.submit-btn-div{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.lbl-form{
    margin-top: 0.5rem !important;
}

textarea{
    width: 100%;
}

/* #### details #### */

.the-bold {
    color: var(--dark-blue) !important;
    font-weight: bold !important;
}

.embeded-viewbag{
    text-align: center;
}
/* #### POST #### */
.post {
    padding: 0.75rem;
}
.post-hr{
    border: 0.5px solid #9e9e9e;
    width: 100%;
}

.pt-div{
    display: grid;
    justify-content: right;
    font-style: italic;
    margin-top: 0.5rem;
}
.post-title{
    color: var(--dark-grey);
}












/********************************************************/
/*User Views their Details Page, Using orignal layout*/
/*Retreiving information from the Details.cshmtl*/
/***********************************************************/
.detailPage {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.viewProfile { border:1px solid black;
    width: 100%;
    float: left;
    height: 10em;
}

.vPcol {
    float: left;
    width: 50%;
    background-color: grey;
    margin: 1em;
}
/*This is a style to control the picture width and height*/
.vPcol2 {
    float: right;
    width: 10em;
    height: 10em;
    background-color: white;
    border: 0.2em solid black;
    margin: 1em;
}

#UpdateProfileBtn {
    border: 1px solid black;
    margin: 150px 0 0 240px;
    padding: 5px;
    width: 35%;
    text-align: center;
    border-radius: 25px;
    background-color: black;
}

    #UpdateProfileBtn a:link {
        color: aliceblue;
    }

    #UpdateProfileBtn a:visited {
        color: aliceblue;
    }

#DeleteProfileBtn {
    border: 1px solid black;
    margin: 150px 0px 0 0;
    padding: 5px;
    width: 35%;
    text-align: center;
    border-radius: 25px;
    background-color: black;
    color: green;
}

    #DeleteProfileBtn a:link {
        color: aliceblue;
    }

    #DeleteProfileBtn a:visited {
        color: aliceblue;
    }
/*controls the table for user information and profil pic*/
.detailPage {
    background-color: grey;
    width: 50em;
    height: auto;
}
/*Controls the table for Updateprofile and Delete profile*/
.btnTableVP {
    width: 100%;
    /* border:2px solid yellow;*/
    background-color: grey;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
/*Controls the td colums of the table btnTableVP*/
#detailsBtnOrg {
    width: 50%;
}

td {
    padding: 10px;
}
/*********************************************/
/*STLES FOR EDIT PROFILE PAGE*/
/********************************************/
.svbtn {
    width: 20em;
    color: aliceblue;
    background-color: black;
    height: 2.5em;
    border-radius: 25px;
}

.editProfileTable {
    background-color: grey;
    width: 100%;
    height: auto;
    /* border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;*/
}

.epRow {
    width: 100%;
    background-color: grey;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.epCol {
    
    width: 100%;
    background-color: deeppink;
    margin: 1em;
}

.eptb {
    border: 1px solid darkgrey;
    border-radius: 5px;
    height: 2em;
    width: 100%;
}

.epProfilePic {
    border: 1px solid black;
    padding: 3em 0em 3em 0em;
    background-color: blue;
}

.editProfileTable th {
    height: 8em;
}


.control-label {
    width: 300%;
    text-align: right;
}

.mvSbtn {
    padding-left: 2em;
}

#togglePassword {
    color: white; /* Change the color to your preferred color */
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: 1px solid #3498db;
    border-radius: 4px;
}

    .custom-file-upload:hover {
        background-color: #2980b9;
    }

#imageFile {
    margin-top: 1em;
    border: 2px solid #f5f5ef;
    text-align: center;
}

#imagePreview {
    border: 2px solid #f5f5ef;
   
    max-width: 200px;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

