
@{
    ViewBag.Title = "Community";
    ViewBag.Header = "Judo Lions";
    Layout = "~/Views/Shared/_Community.cshtml";
}

<div class="header-bar">
    <div>
        <h1 class="header-text"> @ViewBag.Header</h1>
        <div class="com-nav">
            <a href="#">Members</a>
            <a href="#" class="active-com-nav">Post</a>
            <a href="#">Broadcast</a>
            <a href="#">Privacy</a>
            <a href="#">Requests</a>
        </div>
    </div>
</div>
<div id="app-content">
    <div class="actual-content">
        <div class="actual-top">
            <h1>Type the Post Below.</h1>
            <p><small>The posts will appear to members of the community</small></p>
        </div>
        <form action="/" method="post">
            <label for="title" class="lbl-form">Title:</label> <br />
            <input type="text" placeholder="Tech Trends" name="title" value="" class="input-cont"/><br />
            <label for="post-content" class="lbl-form">Post:</label> <br />
            <textarea name="post-content" id="" placeholder="Type post here . . ." cols="30" rows="10" class="input-cont"></textarea><br />
            <div class="submit-btn-div">
               <button type="submit" class="sub-btn">POST</button>
            </div>
        </form>

    </div>
</div>

