@{
    Layout = "~/Views/Shared/_Layout2.cshtml";

    ViewBag.Title = "View Test";

    ViewBag.Header = "Header";
    ViewBag.Subheader = "This is the subheader";

}



<h1> View Tester</h1>
<p>You are now testing your View</p>

